header {
    width: 100%;
    padding: 28px 8px;
}

#navbar {
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo{
    font-size: 24px;
    color: #45C4B0;
}

#nav-list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

.nav-item.active a {
    color: #1d1d11;
    border-bottom: 3px solid #9AEBA3;
}

#mobile_btn{
    display: none;
}

#mobile_menu{
    display: none;
}

@media screen and (max-width: 1170px) {
    #nav-list,
    #navbar.btn-default {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav-list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;

    }

    #mobile_nav-list .nav-item {
        list-style: none;
        text-align: center;
    }
}


